[submodule "meshoid"]
	path = meshoid
	url = https://github.com/mikegrudic/meshoid
[submodule "grackle"]
	path = grackle
	url = https://github.com/grackle-project/grackle
[submodule "slug2"]
	path = slug2
	url = git@bitbucket.org:benwibking/slug2.git
